<div class="w-100 main-container-sc d-flex justify-content-center align-items-center">
    <div class="w-100">
        <p class="text-center fs-raleway mt-3 mt-lg-0 title-page">Colores</p> 
        <div class="w-100 d-flex">
            <div class="row w-100 mx-auto max-layout justify-content-center">
                <ng-container *ngIf="loading == false  && error == false">
                    <div class="d-flex mb-2 px-1 custom-card w-300px" *ngFor="let color of colors" (click)="showCoppied(color.id)">
                        <card-color [color]="color" class="d-flex w-100"></card-color>
                    </div>
                </ng-container>
                <div class="col-12 d-flex justify-content-center align-items-center custom-loading bg-light w-100 mw-600px" *ngIf="loading == true">
                    <div class="w-100 text-center text-loading">
                        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Loading elements
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center custom-loading bg-light w-100 mw-600px" *ngIf="error == true">
                    <div class="w-100 text-center text-alert-error">
                        <fa-icon [icon]="faExclamationTriangle" size="2x"></fa-icon> <br>Ocurrió un error
                    </div>
                </div>
                <div class="col-12 row m-0 p-0 justify-content-center">
                    <div class="pl-1 d-flex justify-content-center align-items-center w-300px">
                        <button class="btn btn-primary mr-auto" (click)="readColors()">
                            Anterior
                        </button>
                        <button class="btn btn-primary ml-auto d-inline-block d-md-none" (click)="readColors()">
                            Siguiente
                        </button>
                    </div>
                    <div class="w-300px text-right pr-1 d-none d-md-inline-block">
                        <button class="btn btn-primary" (click)="readColors()">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>