<nav class="navbar navbar-expand-lg navbar-light bg-light" style="min-height:58px !important">
    <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" style="height:30px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/color-list']">V1 Using Bootstrap Rows <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/full-color-list']">V1 Using Custom Flexbox</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/cover-cards']">V2 Using Bootstrap Rows</a>
        </li>
      </ul>
    </div>

    <a class="nav-link d-none d-xl-block" href="http://geraldalarcon.com.ve" target="_blank">Test developed by GLA</a>

  </nav>