<div class="w-100 main-container-sc d-flex justify-content-center align-items-center">
    <div class="w-100">
        <p class="text-center fs-raleway mt-3 mt-lg-0 title-page">Colores</p> 
        <div class="w-100 d-flex">
            <div class="row w-100 mx-auto max-layout">
                <ng-container *ngIf="loading == false && error == false">
                    <div class="col-12 col-sm-6 col-md-4 d-flex mb-2 px-1 custom-card" *ngFor="let color of colors" (click)="showCoppied(color.id)">
                        <card-color [color]="color" class="d-flex w-100"></card-color>
                    </div>
                </ng-container>
                <div class="col-12 d-flex justify-content-center align-items-center custom-loading bg-light" *ngIf="loading == true">
                    <div class="w-100 text-center text-loading">
                        <fa-icon [icon]="faSpinner" class="fa-spin" [spin]="true"></fa-icon> Loading elements
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center custom-loading bg-light" *ngIf="error == true">
                    <div class="w-100 text-center text-alert-error">
                        <fa-icon [icon]="faExclamationTriangle" size="2x"></fa-icon> <br>Ocurrió un error
                    </div>
                </div>
                <div class="col-12 row m-0 p-0">
                    <div class="col-auto mr-auto pl-1">
                        <button class="btn btn-primary" (click)="readColors()">
                            Anterior
                        </button>
                    </div>
                    <div class="col-auto ml-auto pr-1">
                        <button class="btn btn-primary" (click)="readColors()">
                            Siguiente
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>