
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* DEFINICIÓN DE TEXTO EN RAIZ */
*{
    font-family:'Raleway', sans-serif;
}
/* FONTS */
.fs-raleway{
    font-family:'Raleway', sans-serif;
}
.title-page{
    font-size:40px
}
.borderg-1{
    border: 1px solid black
}
/* LAYOUT AND GRID */
.max-layout{
    max-width:800px
}
.cursor-pointer{
    cursor: pointer
}
.custom-card{
    min-height:200px
}
.custom-loading{
    min-height:400px
}
.main-container-sc{
    min-height:calc(100vh - 58px)
}
.text-alert-error{
    color: red; 
    font-size:20px
}
.text-loading{
    font-size:25px
}
.text-absolute{
    position:absolute; 

    &.left-top{
        top:10px; 
        left:10px
    }
    &.right-top{
        top:10px; 
        right:10px
    }
    &.right-bottom{
        right:10px; 
        bottom:10px
    }
}

/* CARDS WITH HOVER EFFECT CODE */
.container-slip-img{
    background-size:cover;
    background-position:center;
    border-radius:15px;
}
.contaimer-slip-img-hover{
    visibility:hidden;
    border-radius:15px;
    height:0;
    transition: height ease .5s;
    background-color:rgba(255,255,255,.5);
}
.container-slip-img:hover > .contaimer-slip-img-hover{
    visibility:visible !important;
    height:100%;
}

.container-slip-img:hover .contaimer-slip-img-hover p, .container-slip-img:hover span{
    visibility: hidden;
}
.container-slip-img:hover p{
    visibility:hidden
}
.container-slip-img:hover ~ .contaimer-slip-img-hover{
    visibility:visible !important;
    height:100%;
}
