@import '../../app.component.scss';

.custom-vh{
    height:35vh
}
.custom-vh2{
    height:calc(70vh + .5rem)
}
.custom-alert{
    border-radius:15px;
}
button{
    font-size:19px
}
.btn-close-custom:hover{
    color: white!important
}