<div class="w-100 main-container-sc d-flex justify-content-center align-items-center">
    <div [ngClass]="colorClasses()">
        <p class="text-center fs-raleway mt-3 mt-lg-0 title-page mx-1 bg-light custom-alert mb-1 borderg-1">Colores</p> 
        <div class="w-100 d-flex">
            <div class="row w-100 mx-auto">
                <ng-container *ngIf="loading == false && error == false">
                    <div class="col-12 col-sm-6 col-md-4 d-flex mb-2 px-1 custom-card custom-vh" *ngFor="let color of colors" (click)="showCoppied(color.id); selectedColor = color; activeColor = true">
                        <card-color [color]="color" class="d-flex w-100 custom-alert borderg-1"></card-color>
                    </div>
                </ng-container>
                <div class="position-fixed custom-vh2 w-100 px-1 d-flex" *ngIf="activeColor == true">
                    <div class="w-100 position-relative d-flex justify-content-center align-items-center custom-alert borderg-1" [style.background-color]="selectedColor.color">
                        <span class="text-absolute left-top text-loading font-weight-bold">{{selectedColor.year}}</span>
                        <button class="btn btn-close-custom text-absolute right-top cursor-pointer text-loading d-flex align-items-center font-weight-bold" (click)="activeColor = false"><fa-icon [icon]="faTimesCircle" class="mr-2"></fa-icon> Cerrar</button>
                        <p class="text-center position-absolute text-loading font-weight-bold">¡Copiado al portapapeles!</p>
                        <span class="text-absolute right-bottom text-loading font-weight-bold">{{selectedColor.pantone_value}}</span>
                    </div>
                </div>
                <div class="position-fixed custom-vh2 w-100 px-1 d-flex w-100" *ngIf="loading == true">
                    <div class="w-100 position-relative d-flex justify-content-center align-items-center custom-alert border-2 bg-light">
                        <p class="text-center position-absolute text-loading">
                            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Loading elements
                        </p>
                    </div>
                </div>
                <div class="position-fixed custom-vh2 w-100 px-1 d-flex w-100" *ngIf="error == true">
                    <div class="w-100 position-relative d-flex justify-content-center align-items-center custom-alert border-2 bg-light">
                        <p class="text-center position-absolute text-alert-error">
                            <fa-icon [icon]="faExclamationTriangle" size="2x"></fa-icon> <br>Ocurrió un error
                        </p>
                    </div>
                </div>
                <div class="col-12 px-1 m-0 p-0" *ngIf="loading == false && error == false">
                    <div class="row m-0 p-0 bg-light custom-alert borderg-1">
                        <div class="col-auto mr-auto pl-1">
                            <button class="btn font-weight-bold btn-light custom-alert" (click)="readColors()">
                                <fa-icon [icon]="faAngleDoubleLeft"></fa-icon> Anterior
                            </button>
                        </div>
                        <div class="col-auto ml-auto pr-1">
                            <button class="btn font-weight-bold btn-light custom-alert" (click)="readColors()">
                                Siguiente <fa-icon [icon]="faAngleDoubleRight"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>