<div class="container-slip-img animated bounceInLeft delay-1s w-100 d-flex align-items-center justify-content-center position-relative cursor-pointer" [style.background-color]="color.color" ngxClipboard [cbContent]="color.color">
    <span class="text-absolute left-top">{{color.year}}</span>
    <p class="text-center position-absolute">{{color.name}}<br><b>{{color.color}}</b></p>
    <span class="text-absolute right-bottom">{{color.pantone_value}}</span>
    <div class="contaimer-slip-img-hover w-100 p-3 d-flex justify-content-center align-items-center cursor-pointer">
        <label class="text-center cursor-pointer custom-hover-text" *ngIf="color.clicked != true">
            {{color.name}}<br>
            <b>{{color.color}}</b><br>
            <fa-icon [icon]="faCopy" size="2x" class="icon-copy"></fa-icon><br>
            Haga click para copiar
        </label>
        <label class="text-center cursor-pointer custom-hover-text font-weight-bold"  *ngIf="color.clicked == true"><fa-icon [icon]="faClipboardCheck" size="2x"></fa-icon><br>Copiado</label>
    </div>
</div>